#cont {
    background-color: rgb(214, 214, 214);
    width: 60rem;
    box-shadow: 0px 4px 60px rgb(162 162 162 / 25%);
}

body {
    background-color: #ffffff;
}

header {
    background-color: rgb(255, 255, 255);
    height: 80px;
    font-size: 35pt;
    font-weight: bold;
    text-align: center;
}
.container{
    max-width: 600px;
}
.log {
    float: left;
}

p {
    font-size: 20px;
    font-weight: bold;
}
